.carousel img {
	filter: brightness(60%) opacity(0.99);
	-webkit-filter: brightness(60%);
	-webkit-filter: opacity(0.99);

	-moz-filter: opacity(0.99);
}
.filter {
	position: relative;
}
.filter:after {
	position: absolute;
	content: "";
	display: block;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	background: linear-gradient(
		to left,
		rgba(255, 255, 255, 0) 0%,
		rgba(28, 28, 28, 0.89) 100%
	);

	mix-blend-mode: darken;
}
.carousel-caption {
	z-index: 1;
	bottom: 22.25rem;
	text-align: start;
}
.carousel-caption h1 {
	color: #fff;
	font-size: 5em;
	left: 0;
	position: relative;
}
.carousel-caption button {
	margin: 2rem 0;
}

.carousel-item img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	-o-object-fit: cover;
}
