.footer {
	background-color: #181818;
	color: #fff;
	height: fit-content;
	padding-top: 3rem;
	position: sticky;
	top: 100%;
}

span a {
	text-decoration: none;
	font-size: medium;
	margin: 0;
	color: #fff;
}
span {
	font-size: medium;
}
.copy__write {
	background-color: #66666630;
	color: #fff;
	height: 5em;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	padding: 1rem;
}
.vstack h3 {
	padding-bottom: 1.5rem;
}
